ul {
    list-style-type: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background: rgb(248,248,248);
  }
  .grid-item {
    font-size: 30px;
  }
  .Chart {
    margin: 30px;
  }