ul {
  list-style-type: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr;
  background: rgb(248, 248, 248);
}
.grid-item {
  font-size: 30px;
}
.Chart {
  margin: 10px 0 0 10px;
}
.Loading {
position: absolute;
top: 40%;
left: 40%;
}
.status-box {
  margin: 5px 0 25px 10px;
}
.App {
  background: rgb(248, 248, 248);
  height: 100vh;
}